* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 8vh;
  background-color: black;
  color: white; }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 2rem; }
    header nav ul a {
      text-decoration: none;
      color: white; }
      header nav ul a:hover {
        color: rgba(236, 208, 49, 0.836); }
    header nav ul li {
      padding: 0 20px;
      list-style: none; }

.seleccionado {
  color: #e9d149; }

.fuenteCursiva {
  font-family: 'Lobster', cursive; }

.fuenteTitulo {
  font-family: 'Itim', cursive;
  font-size: 3rem; }

.fuenteTexto {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 1.8rem; }

.sizeFooter {
  font-size: 1.3rem; }

.sinFormato {
  text-decoration: none;
  color: white; }

.mainIndex {
  height: 84vh; }
  .mainIndex img {
    position: absolute;
    height: 10vh;
    width: 5vw;
    top: 45vh;
    left: 47.5vw; }

.backgroundPages {
  background: url("../img/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.mainProjects {
  margin: auto;
  width: 80%; }

.mainGallery {
  width: 75%;
  height: 84vh;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.527); }
  .mainGallery h2 {
    font-size: 4rem; }

.mainUs {
  width: 70%;
  margin: auto; }
  .mainUs h2 {
    font-size: 4rem; }

.boxUs {
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.mainContact {
  padding-top: 3%;
  height: 90%;
  background-color: rgba(128, 128, 128, 0.808);
  width: 70%;
  margin: auto; }
  .mainContact img {
    width: 120px; }

.fixedBg {
  height: 84vh;
  background: url("../img/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.box {
  height: 42vh; }

h1 {
  font-size: 8rem;
  letter-spacing: 0.1em;
  color: black;
  padding: 3%; }

.boxIndex {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: .5; }
  .boxIndex h1 {
    visibility: hidden; }
  .boxIndex:hover {
    opacity: 0.7; }
    .boxIndex:hover h1 {
      visibility: visible; }

.nos1 {
  background: url(../img/nos1.jpg);
  background-repeat: no-repeat; }

.nos2 {
  background: url(../img/nos2.jpg);
  background-repeat: no-repeat; }

.nos3 {
  background: url(../img/nos3.jpg);
  background-repeat: no-repeat; }

.colorNos {
  padding: 30px; }

.borderRound {
  padding: 10px 0;
  border-radius: 15px; }

.carousel {
  width: 1000px;
  height: 600px; }

.box1 {
  background-image: url(../img/img1.jpg); }

.box2 {
  background-image: url(../img/img2.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start; }

.box3 {
  background-image: url(../img/img3.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end; }

.box4 {
  background-image: url(../img/img4.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }

.formatoImg {
  visibility: visible; }

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: aquamarine;
  height: 100px;
  line-height: 0.55rem;
  background: linear-gradient(#525252, #9b9a9a); }

.redes {
  font-weight: 400;
  color: antiquewhite; }
  .redes img {
    width: 40px; }

.listaSinFormato {
  list-style-type: none;
  font-size: 3.5rem; }
  .listaSinFormato ul {
    padding: 20px 0; }
    .listaSinFormato ul:hover {
      background-color: white;
      border-radius: 20px; }

.containerForm {
  padding: 2rem;
  margin: auto;
  width: 90%; }

.paddingForm {
  padding: 20px; }

@media (max-width: 1100px) {
  header nav ul li {
    padding: 10px; }
  h3 {
    font-size: 1.5rem; }
  h1 {
    font-size: 5rem; }
  .box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .fuenteTexto {
    font-size: 1rem; }
  .formatoImg {
    width: 100px; }
  .fuenteTitulo {
    font-size: 2rem; }
  .mainProjects {
    width: 90%; }
  .carousel {
    width: 600px;
    height: 400px; }
  .fuenteCursiva {
    font-size: 2rem; }
  .mainGallery {
    width: 90%; }
  .mainContact {
    width: 80%; }
    .mainContact img {
      width: 80px; } }

@media (max-width: 800px) {
  h3 {
    font-size: 1.2rem; }
  h1 {
    font-size: 5rem; }
  .boxIndex h1 {
    visibility: visible; }
  .box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  main img {
    visibility: hidden; }
  .formatoImg {
    width: 80px; }
  h1 {
    font-size: 3rem; }
  .boxIndex h1 {
    visibility: visible; }
  footer .redes, footer p {
    font-size: .7rem; }
  .fuenteTexto {
    font-size: 1rem; }
  .fuenteTitulo {
    font-size: 1.8rem; }
  .mainProjects {
    width: 95%; }
  .mainGallery {
    width: 95%; }
  .carousel {
    width: 450px;
    height: 280px; }
  .mainContact {
    width: 90%; }
    .mainContact img {
      width: 80px; } }

@media (max-width: 400px) {
  .mainContact {
    width: 100%; }
    .mainContact img {
      width: 40px; }
  .mainGallery {
    width: 100%; }
  .mainProjects {
    width: 100%; }
  .fuenteTexto {
    font-size: 0.8rem; }
  .fuenteTitulo {
    font-size: 1.2rem; }
  .fuenteCursiva {
    font-size: 1rem; }
  header div {
    line-height: 0.5rem; }
    header div h5 {
      font-size: 1rem; } }
