.fuenteCursiva{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.fuenteTitulo{
    font-family: 'Itim', cursive;
    font-size: 2.5rem;
}
.fuenteBanner{
    font-size: $fuenteBanner;
    font-family: 'Lobster', cursive;
}
.fuenteTexto{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1.8rem;
    padding: 10px;
}