@import url(./_var.scss);
@import "var";
@import "footer";
@import "header";
@import "fonts";
@import "pageIndex";
@import "sidePages";
@import "animacion";
@import "function";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.seleccionado{
    color:#e9d149;
}

.sinFormato{
    text-decoration: none;
    color: white;
}
.fixedBg{
    height: 84vh;
        background: url("../img/backgroundImg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
.fitImg{
    width: 100%;
}

.box{
    height: 42vh;
}
h1{
    font-size: 8rem;
    letter-spacing: 0.1em;
    color:  black;
    padding: 3%;
}



.borderRound{
    padding: 10px 0;
    border-radius: 15px;
}

.formatoImg{
    visibility: visible;
    width: 100%;
}


.listaSinFormato{
    list-style-type: none;
    font-size: 2.5rem;
    ul{
        padding: 5px 0;
        &:hover{
            background-color: white;
            border-radius: $borderRadius;
            animation: cambiarColor 1s ease-in-out infinite;
        }
    }
}

.containerForm{
    padding: 2rem;
    margin: auto;
    width: 90%;
}
.paddingForm{
    padding: 20px;
}
@media (max-width: 1100px) {
    header{
        nav{
            ul{
                li{
                    padding: 10px;
                }
            }
        }
    }
    h3{
        font-size: 1.5rem;
    }
    h1{
        font-size: 5rem;
    }

    .box1, .box2, .box3, .box4{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fuenteTexto{
        font-size: 1.5rem;
    }
    .navitem{
    visibility: hidden;
}

    .mainProjects{
        width: 95%;
    }
    .fuenteCursiva{
        font-size: 1.5rem;
    }
    .mainGallery{
        width: 90%;
    }
    .containerContact{
        width: 80%;
        img{
            width: 80px;
        }
    }
}
@media (max-width: 800px) {
    header{
        height: 100px;
    }
    h3{
        font-size: 1.2rem;
    }
    h1{
        font-size: 5rem;
    }
    .fitImg{
        width: 80%;
    }
    .boxIndex{
        h1{
            visibility: visible;
        }
    }
    .box1, .box2, .box3, .box4{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .paddingForm{
        padding: 10px;
    }
    .rect{
        animation:none
    }
    .listaSinFormato{
        line-height: 1.2rem;
        ul{
            padding: 0px 0;
        }
    }

    .formatoImg{
        width: $fotoMedia;
    }

    h1{
        font-size: 3rem;
    }
    .boxIndex{
        h1{
            visibility: visible;
        }
    }
    footer{
        .redes, p{
        font-size: .7rem;}
    }
    .fuenteTexto{
        font-size: 1rem;
    }
    .fuenteTitulo{
        font-size: 1.8rem;
    }
    .mainProjects{
        width: 100%;
    }
    .mainGallery{
        width: 100%;
    }
      .containerContact{
        width: 90%;
        img{
            width: 80px;
        }
    }
    .mainIndex{
        img{
            visibility: hidden;
        }
    }
}

@media (max-width: 400px) {
    .fuenteBanner{
        font-size: 2.5rem;

    }
    .containerContact{
        width: 100%;
        img{
            width: 40px;
        }
    }
    .formatoImg{
        width: $fotoChica;
    }

    .mainProjects{
        width: 100%;
    }
    .mainUs{
        width: 95%;
    }
    .fuenteTexto{
        font-size: 0.8rem;
    }
    .fuenteTitulo{
        font-size: 1.2rem;
    }
    .fuenteCursiva{
        font-size: 1rem
;
    }
    header{
        div{
            line-height: 0.5rem;
            h5{
                font-size: 1rem;
            }
        }
    }
}